
<h2>Create a Posting</h2>
<form action="/createPosting" method="POST">
  <div>
    <label class="form-label">
      Position:
      <input class="form-control" type="text" name="position" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Posting Date:
      <input class="form-control" type="date" name="posting_date" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
